<button type="button" ng-class="{'fp-reg-btn': scanType == 'registration' || scanType == 'edit', 'fp-search-btn': scanType == 'search'}" ng-click="launchPopup()" ng-disabled="!biometricsEnabled">
    <span class="span" ng-if="scanType == 'search'">
        <img class="img" src="../images/biometrics/fp-btn.png"/>
        {{:: 'REGISTRATION_SCAN_LABEL' | translate}}
    </span>
</button>

<div class="fingerprintListDialog container-fluid">
    <legend class="registraion_legend first-registraion_legend">
            <span class="mylegend"><strong>{{::'REGISTRATION_LABEL_LEFT_HAND' | translate}}</strong></span>
    </legend>
    <ul class="row-clear flex">
        <li ng-repeat="fingerprint in leftFingerprints track by fingerprint.type">
            <div class="fp-list-item-container">
                <span class="fp-list-item-label-container">
                    <h3 class="fp-list-item-text">{{:: getFingerprintTitle(fingerprint.type) | translate}}</h3>
                    <img class="fp-list-item-img" ng-src="{{:: getFingerprintLabelImg(fingerprint.type)}}"/>
                </span>
                <fingerprint-box success="fingerprint.template" low-image="true" ng-click="launchFingerprintScannerPopup(fingerprint)"></fingerprint-box>
            </div>
        </li>
    </ul>

    <legend class="registraion_legend first-registraion_legend">
            <span class="mylegend"><strong>{{::'REGISTRATION_LABEL_RIGHT_HAND' | translate}}</strong></span>
    </legend>
    <ul class="row-clear flex">
        <li ng-repeat="fingerprint in rightFingerprints track by fingerprint.type">
            <div class="fp-list-item-container">
                <span class="fp-list-item-label-container">
                    <h3 class="fp-list-item-text">{{:: getFingerprintTitle(fingerprint.type) | translate}}</h3>
                    <img class="fp-list-item-img" ng-src="{{:: getFingerprintLabelImg(fingerprint.type)}}"/>
                </span>
                <fingerprint-box success="fingerprint.template" low-image="true" ng-click="launchFingerprintScannerPopup(fingerprint)"></fingerprint-box>
            </div>
        </li>
    </ul>
</div>
<div class="fp-scanner-dialog-container">
    <fingerprint-scanner-dialog
        scan-session="currentScanSession"
        type="currentType"
        scan-type="currentScanType"
        on-save="handleSaveFromScanner(scannedFingerprints)"
        on-cancel="handleCancelFromScanner()">
    </fingerprint-scanner-dialog>
</div>
