<div class="fp-box-container" ng-class="{'fp-with-text':error || fingerprintCount != null}">
    <img class="fp-overlay" ng-hide="!scanning" ng-src="{{overlaySrc}}"/>
    <img ng-src="{{getImgSrc()}}" class="fp-img"/>
    <span ng-hide="scanning || imgSrc" ng-class="{'fp-error-text':error, 'fp-default-text':!error}">
        <span ng-if="error">{{ error }}</span>
        <span ng-if="!error && !success && !scanning && !imgSrc && fingerprintCount != null">{{ fingerprintCount }} {{:: 'FP_NUMBER_ENROLLED' | translate}}</span>
    </span>
</div>
