.fp-container {
    width: 92px;
    height: 92px;
    border: 7px solid $lightestGray;
    margin-bottom: 8px;
    margin-top: 8px;
    justify-content: center;
    padding: 4px;
    text-align: center;
    align-content: center;
}